body {
  min-width: 900px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  background: #849d8f url("../img/ice-1.png") no-repeat center top;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 2.3%;
}

.btn {
  color: #ffffff;
  background-image: linear-gradient(#e74a35, #f26843);
  text-decoration: none;
  outline: none;
  box-shadow: 0 2px 2px #ac1000;
}

.btn:hover {
  background-image: linear-gradient(#f58669, #ec6f5e);
}

.btn:active {
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: inset 0 2px 2px #ac1000;
}

/*header*/
.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}

.main-navigation {
  -ms-flex-preferred-size: 550px;
  flex-basis: 550px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation > li:first-child {
  margin-right: 10px;
  padding: 0;
}

.sub {
  position: relative;
  padding: 10px 0;
}

.main-navigation-sub {
  position: absolute;
  top: 40px;
  left: -5px;
  display: none;
  width: 145px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f7f6f3;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.sub:hover .main-navigation-sub {
  display: block;
}

.logo {
  width: 154px;
  height: 64px;
}

.navigation li > a {
  margin: 5px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation li > a:hover {
  margin: 0;
  padding: 5px 15px;
  color: #000000;
  background-color: #f7f6f3;
  border-radius: 20px;
}

.navigation li > a:active {
  box-shadow: inset 0 2px 1px #696969;
}

.main-navigation-sub li > a {
  display: block;
  margin: 0;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border: none;
}

.main-navigation-sub .new {
  position: relative;
  font-weight: 700;
}

.main-navigation-sub .new::after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 10px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-navigation-sub .new:hover {
  border-radius: 5px 5px 0 0;
}

.main-navigation-sub li > a:hover {
  padding: 10px 20px;
  background-color: #fbded8;
  border-radius: 0;
}

.main-navigation-sub li:last-child a:hover {
  border-radius: 0 0 5px 5px;
}

.main-navigation-sub li > a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.main-navigation-sub .active {
  background-color: #d07058;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
}

.search {
  position: relative;
  margin-right: 10px;
  padding: 13px 0;
}

.search a {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  background: rgba(255, 255, 255, 0.2) url("../img/spritesheet.png") no-repeat 3px -268px;
  border-radius: 50%;
}

.search a:hover {
  background: #ffffff url("../img/spritesheet.png") no-repeat 3px -294px;
}

.search-popup {
  position: absolute;
  top: 50px;
  left: -308px;
  display: none;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-popup input {
  width: 277px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search:hover .search-popup {
  display: block;
}

.login {
  position: relative;
  margin-right: 10px;
  padding: 13px 0;
}

.login > a {
  display: block;
  padding: 8px 15px;
  padding-left: 45px;
  font-weight: 500;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2) url("../img/spritesheet.png") no-repeat 10px -212px;
  border-radius: 20px;
  text-decoration: none;
}

.login > a:hover {
  color: #000000;
  background: #ffffff url("../img/spritesheet.png") no-repeat 10px -240px;
}

.login-popup {
  position: absolute;
  top: 50px;
  left: -185px;
  display: none;
  width: 240px;
  padding: 20px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.login-popup input {
  width: 208px;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-href {
  display: inline-block;
  padding-top: 2px;
  vertical-align: top;
}

.login-href a {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  text-decoration: underline;
}

.login-href a:hover {
  color: #e84d37;
  background: none;
}

.login-popup button {
  margin-right: 12px;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 20px;
}

.login:hover .login-popup {
  display: block;
}

.basket {
  position: relative;
  width: 118px;
  padding: 13px 0;
  text-align: left;
}

.basket > a {
  display: block;
  padding: 8px 15px 8px 45px;
  font-weight: 500;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2) url("../img/spritesheet.png") no-repeat 10px -45px;
  border-radius: 20px;
  text-decoration: none;
}

.basket > a:hover {
  color: #000000;
  background: #ffffff url("../img/spritesheet.png") no-repeat 10px -74px;
}

.basket-popup {
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  width: 500px;
  padding: 20px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.basket:hover .basket-popup {
  display: block;
}

.basket-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
}

.delete {
  position: absolute;
  top: 15px;
  width: 12px;
  height: 12px;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete::before,
.delete::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: #323232;
}

.delete::before {
  transform: rotate(45deg);
}

.delete::after {
  transform: rotate(-45deg);
}

.basket-item-title {
  display: flex;
  flex-basis: 265px;
  align-items: center;
  margin-left: 27px;
}

.basket-item-title img {
  margin-right: 15px;
  border-radius: 50%;
}

.basket-item-count span {
  color: #999999;
}

.basket-total {
  position: relative;
  margin-bottom: 15px;
  padding-top: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.basket-total::before {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  left: 0px;
  height: 1px;
  background-color: #cacac7;
}

.basket-popup .btn {
  display: block;
  width: 142px;
  margin-left: auto;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border-radius: 20px;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 170px;
  margin-top: 5px;
  margin-left: auto;
  color: #ffffff;
}

.meta-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.meta-number {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

/*index*/
.slider {
  margin-top: 280px;
  margin-bottom: 40px;
}

.slide {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.slide-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.slide .btn {
  padding: 15px 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  border-radius: 35px;
  text-shadow: 0 2px 5px #a0200b;
}

.slide-2,
.slide-3 {
  display: none;
}

.slider button {
  position: relative;
  bottom: 30px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-size: 0;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.slider button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider button:active {
  background-color: #ffffff;
}

.slider .active {
  background-color: #ffffff;
}

.index-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banner {
  -ms-flex-preferred-size: calc(46.6% * (100 / (100 - 2 * 2.3)));
  flex-basis: calc(46.6% * (100 / (100 - 2 * 2.3)));
  padding: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
}

.banner-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.banner p {
  margin: 0;
  margin-bottom: 40px;
}

.banner .btn {
  display: block;
  width: 165px;
  margin-left: auto;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border-radius: 25px;
}

.index-banner .raspberry {
  background: #ad2f4d url("../img/raspberry-bg.jpg") center;
}

.index-banner .chocolate {
  background: #ad2f4d url("../img/chocolate-bg.jpg") center;
}

.index-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item {
  position: relative;
  -ms-flex-preferred-size: calc(22.2% * (100 / (100 - 2 * 2.3)));
  flex-basis: calc(22.2% * (100 / (100 - 2 * 2.3)));
  margin-bottom: 40px;
  box-sizing: border-box;
}

.item-content {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.item-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url("../img/spritesheet-2.png") no-repeat -5px -64px;
}

.item-content-price {
  position: absolute;
  left: 0;
  top: 190px;
  margin: 0;
  font-size: 30px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-content-price span {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.item-content-price img {
  position: relative;
  top: 5px;
}

.item-content-img {
  margin-bottom: 15px;
}

.item-content-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.item-content a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-hover {
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  display: none;
  padding: 10px;
  flex-basis: calc(24.4% * (100 / (100 - 2 * 2.3)));
  height: 405px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.item-hover .btn {
  position: relative;
  margin: 0;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border-radius: 25px;
}

.item:hover .item-hover {
  display: block;
}

.index-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 22px;
  background: #eaddbf url("../img/bg-wafer.jpg");
  border-radius: 15px;
}

.index-about-title {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.index-about-left,
.index-about-right {
  -ms-flex-preferred-size: calc(46.6% * (100 / (100 - 2 * 2.3)));
  flex-basis: calc(46.6% * (100 / (100 - 2 * 2.3)));
  padding-left: 55px;
  box-sizing: border-box;
}

.index-about-left p,
.index-about-right p {
  position: relative;
}

.index-about-left .ice::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -55px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet-2.png") no-repeat -5px -135px;
}

.index-about-left .sheet::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -55px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet-2.png") no-repeat -5px -194px;
}

.index-about-right .row::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -55px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet-2.png") no-repeat -5px -5px;
}

.index-about-right .thermometer::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -55px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet-2.png") no-repeat -5px -253px;
}

.index-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.index-post-news {
  -ms-flex-preferred-size: calc(46.6% * (100 / (100 - 2 * 2.3)));
  flex-basis: calc(46.6% * (100 / (100 - 2 * 2.3)));
  padding: 25px 20px;
  box-sizing: border-box;
}

.index-post-newsletter {
  -ms-flex-preferred-size: calc(46.6% * (100 / (100 - 2 * 2.3)));
  flex-basis: calc(46.6% * (100 / (100 - 2 * 2.3)));
  padding: 35px 25px;
  box-sizing: border-box;
}

.index-map {
  position: relative;
  margin: 0 calc(-2.3% * (100 / (100 - 2 * 2.3)));
  box-sizing: border-box;
}

.index-map-info {
  position: absolute;
  right: 25px;
  top: 60px;
  padding: 30px 25px;
  background-color: #ffffff;
  border-radius: 10px;
}

.index-map-info p {
  margin: 0;
  margin-bottom: 25px;
}

/*catalog*/
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  margin-right: 20px;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 860px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.sort {
  margin-bottom: 15px;
  margin-right: 15px;
}

.price {
  margin-right: 15px;
}

.price input[type="text"] {
  width: 27px;
}

.fat {
  margin: 0;
  padding: 0;
  border: none;
}

.fillers {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 190px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

/*footer*/
.inner-page {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-social {

}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 330px;
  padding-top: 20px;
  font-size: 13px;
  line-height: 18px;
}

.footer-info a {
  width: 165px;
}

.footer-info a:nth-child(odd) {
  width: 145px;
  padding-left: 20px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright p {
  margin: 0;
}

/*modal-content*/
.modal-content {
  display: none;
}
