body {
  min-width: 900px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  background-color: #849d8f;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 2.3%;
}

/*header*/
.flex-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}

.main-navigation {
  -ms-flex-preferred-size: 550px;
  flex-basis: 550px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation > li {
  padding: 10px 15px;
}

.navigation > li:first-child {
  margin-right: 10px;
  padding: 0;
}

.sub {
  position: relative;
}

.main-navigation-sub {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub:hover .main-navigation-sub {
  display: block;
}

.logo {
  width: 154px;
  height: 64px;
}

.user-info {
  -ms-flex-preferred-size: 265px;
  flex-basis: 265px;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-preferred-size: 265px;
  flex-basis: 265px;
  margin-left: auto;
}

.search {
  margin-right: 10px;
  padding: 13px 0;
}

.search-popup {
  display: none;
}

.login {
  margin-right: 10px;
  padding: 13px 0;
}

.login-popup {
  display: none;
}

.basket {
  padding: 13px 0;
}

.basket-popup {
  display: none;
}

.meta {
  width: 170px;
  margin-left: auto;
}

/*index*/
.slider {
  margin-top: 280px;
  margin-bottom: 40px;
}

.slide {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.slide-2,
.slide-3 {
  display: none;
}

.index-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banner {
  -ms-flex-preferred-size: calc(46.6% * ((100 - 2 * 2.3) / 100));
  flex-basis: calc(46.6% * ((100 - 2 * 2.3) / 100));
  padding: 20px;
}

.index-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item {
  -ms-flex-preferred-size: calc(22.2% * (100 / (100 - 2 * 2.3)));
  flex-basis: calc(22.2% * (100 / (100 - 2 * 2.3)));
  margin-bottom: 40px;
}

.item-content-img img {
  width: 100%;
  height: auto;
}

.index-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 25px 20px;
}

.index-about-title {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.index-about-left,
.index-about-right {
  -ms-flex-preferred-size: calc(44.4% * ((100 - 2 * 2.3) / 100));
  flex-basis: calc(44.4% * ((100 - 2 * 2.3) / 100));
  padding-left: 55px;
}

.index-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.index-post-news {
  -ms-flex-preferred-size: calc(46.6% * ((100 - 2 * 2.3) / 100));
  flex-basis: calc(46.6% * ((100 - 2 * 2.3) / 100));
  padding: 25px 20px;
}

.index-post-newsletter {
  -ms-flex-preferred-size: calc(46.6% * ((100 - 2 * 2.3) / 100));
  flex-basis: calc(46.6% * ((100 - 2 * 2.3) / 100));
  padding: 25px 20px;
}

.index-map {
  position: relative;
  margin: 0 calc(-2.3% * ((100 - 2 * 2.3) / 100));
}

.index-map-info {
  position: absolute;
  right: 25px;
  top: 60px;
  padding: 30px 25px;
  background-color: #ffffff;
  border-radius: 10px;
}

.index-map-info p {
  margin: 0;
  margin-bottom: 25px;
}

/*catalog*/
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  margin-right: 20px;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 860px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.sort {
  margin-bottom: 15px;
  margin-right: 15px;
}

.price {
  margin-right: 15px;
}

.price input[type="text"] {
  width: 27px;
}

.fat {
  margin: 0;
  padding: 0;
  border: none;
}

.fillers {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 190px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

/*footer*/
.inner-page {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-social {

}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 330px;
  padding-top: 20px;
  font-size: 13px;
  line-height: 18px;
}

.footer-info a {
  width: 165px;
}

.footer-info a:nth-child(odd) {
  width: 145px;
  padding-left: 20px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright p {
  margin: 0;
}

/*modal-content*/
.modal-content {
  display: none;
}
